BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100
NamespaceIndentation: None
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
ReflowComments: true
SortIncludes: true
IncludeBlocks: Preserve
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: false
Cpp11BracedListStyle: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true